/*********default**********/
* {
  box-sizing: border-box;
}
:root {
  --bgcHiFooColor: #2f303a; /*background color Hiro & Footer*/
  --textColor: #757575; /*var(--textColor,);*/
  --linkColor: #FFFFFF90; /*   var(--linkColor,rgba(255, 255, 255, 0.6);*/grey
  --selectColor: #2196f3; /*   var(--logoColor,);*/
  --bgButtonColor: #2196f3; /*background color Button var(--bgButtonColor,); */
  --logoColor: #2196f3; /*logo color Web var(--logoColor,); */
  --studioColorUP: #000; /*logo color studio for Header var(--studioColorUP,);*/
  --studioColorDOWN: #fff; /*logo color studio for Footer var(--studioColorDOWN,);*/
  --h1h2h3Color: #212121; /*h1 h2 h3 color var(--h1h2h3Color,);*/
  --bgItemsColor: #f5f4fa; /*background color Items var(--bgItemsColor,);*/
  --bgBodyColor: #fff; /*background color Body var(--bgBodyColor,);*/
}
body {
  color: var(--textColor, #757575); /**/
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  width: 1600px;
  height: 2349px;
  background: var(--bgBodyColor, #fff);
}
/*********default**********/
/* Убираем маркеры */
li {
  list-style-type: none;
}
/*********default**********/
/* Отменяем подчеркивание у ссылок */
a,
link {
  text-decoration: none;
  color: var(--linkColor, rgba(255, 255, 255, 0.6));
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
/*********default**********/
/*задаём параметры ссылок 
при наведении или фокусе*/
a:hover,
a:focus {
  /*text-decoration: underline;*/
  color: #2196f3;
  font-weight: 700;
  cursor: pointer;
}
/*********default**********/
/* задаём цвет заголовка h2 h3 */

h2,
h3 {
  color: #212121;
  font-weight: 700;
}
h2 {
  font-size: 36px;
  line-height: 1.17;
}
h3 {
  font-size: 14px;
  line-height: 1.14;
}
/*********default**********/
/*задаём цвет заголовка h1*/
h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
/*********default**********/
/**215px+container+215px***/
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
footer,
.hero {
  background-color: #2f303a;
}
/*******HEADER************/
/*задаём параметры шапки*/
header {
  height: 80px;
  display: flex;
  align-content: center;
  justify-content: center;
}

/*******HEADER************/
/*задаём параметры контейнера шапки*/
.for-header {
  display: flex;
  align-items: center;
  

}
/*******HEADER************/
/*******LOGO**************/
/*размер контейнера Logo*/
.webstudio {
  /*margin-top: 24px;*/
  width: 145px;
  height: 31px;
}
.web,
.studio {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
/*параметры Logo*/
.studio {
  font-size: 26px;
  line-height: 1.19;
}
.web {
  color: #2196f3;
}
/*параметры Logo для шапки*/
.up {
  color: black;
}
/*параметры Logo для подвала*/
.down {
  color: #ffffff;
}
/*******HEADER************/
/*******navigation********/
.navigation {
  font-weight: 500;
  /*font-size: 14px;*/
  line-height: 1.14;
  width: 294px;
  /*height: 24px;*/
  display: flex;
  justify-content: space-between;
  /*padding-top: 0px;*/
  margin-top: 0px;
  margin-left: 93px;
  margin-right: 331px;
}

/*******address************************/
/*параметры контейнера адрес для шапки*/
.address {padding-left: 50PX;
  min-width: 357px;
  display: flex;
  justify-content:space-between;
  margin-top: 0px;
  margin-right: 0;
  /*margin-left: 331px;*/
}
/**********HIRO***************/
.hero {
  margin: 0;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--bgButtonColor,#2196F3);
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
}
button:focus,
button:hover {
  background-color: #188CE8;
  cursor: pointer;
}

/*****************************
.Benefits {
  height: 288px; /*195px;*
  display: inline-flex;
  width: 1600px;
}*/
.invisible{
  display: none;

}
.for-Benefits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 94px;
  margin-bottom: 94px;
  padding-left: 0px;
}
.block {
  width: 270;
  height: 101px;
  padding: 0 15px 0 0;
}
/************************************/
/**********************/
.we-doing {
  text-align: center;
  height: 386px;
}
.for-going {
  margin-top: 50px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

/************************************/
.items {
  margin-top: 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: var(--bgItemsColor,#F5F4FA);
  height: 648px;
}

.for-items {
  margin-top: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
  padding: 0;
}
.card {
  font-size: 16;
  line-height: 1.18;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 270px;
  height: 368px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/***********************/
footer {
  height: 252px;
  display: flex;
}

.for-footer {
  min-width: 231px;
  height: 81px;
  margin-top: 50px;
}
address {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
}
address > ul {
  padding: 0;
}
ul > li {
  margin-top: 9px;
}
